.background {
  z-index: -1;
  position: absolute;
  width: 100vw;
  height: 100vh;
  align-items: center;
  color: white;

}

.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.form-parent {
  z-index: 999;
  position: relative;
	margin: 0;
  display: flex;
  width: 100vw;
  justify-content:center;
}

.form {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: white;
  font-size: 24px;
}

.file {
  text-align: center;
  margin: 0 auto;
}


.button {
  background-color: #0ad889; /* Green */
  border: none;
  width: 32vw;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 8px;
}
.button:hover {
  background: #42f498;
}

// best seen at 1500px or less

html, body {
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  position: absolute;
  z-index: 999;
  background:linear-gradient(to top, #86377b 20%, #27273c 80%);
  overflow: scroll;
  color: white;

}

.info-container {
  display: flex;
  color: white;
}

.heading {
  color: white;
  display: flex;
  justify-content: center;
  font-family: 'Calibri';
}

@keyframes move_wave {
    0% {
        transform: translateX(0) translateZ(0) scaleY(1)
    }
    50% {
        transform: translateX(-25%) translateZ(0) scaleY(0.55)
    }
    100% {
        transform: translateX(-50%) translateZ(0) scaleY(1)
    }
}
.waveWrapper {
  z-index: -1;
    overflow: hidden;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
}
.waveWrapperInner {
    position: absolute;
    z-index: -1;
    width: 100%;
    overflow: hidden;
    height: 100%;
    bottom: -1px;

}
.bgTop {
    opacity: 0.5;
}
.bgMiddle {
    opacity: 0.75;
}
.bgBottom {
}
.wave {
    position: absolute;
    z-index: -1;
    left: 0;
    width: 200%;
    height: 100%;
    background-repeat: repeat no-repeat;
    background-position: 0 bottom;
    transform-origin: center bottom;
}
.waveTop {
    background-size: 50% 100px;
}
.waveAnimation .waveTop {
  animation: move-wave 3s;
   -webkit-animation: move-wave 3s;
   -webkit-animation-delay: 1s;
   animation-delay: 1s;
}
.waveMiddle {
    background-size: 50% 120px;
}
.waveAnimation .waveMiddle {
    animation: move_wave 10s linear infinite;
}
.waveBottom {
    background-size: 50% 100px;
}
.waveAnimation .waveBottom {
    animation: move_wave 15s linear infinite;
}

@keyframes swell {
  0%, 100% {
    transform: translate3d(0,-25px,0);
  }
  50% {
    transform: translate3d(0,5px,0);
  }
}
