h1 {
  color: white;
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 10vh;
  align-items: center;

}

.audio-container {
  display: flex;
  justify-content: center;

}

audio, source {
  width: 100vw;
}

#key-num {
  color: white;
  font-family: Tw Cen MT,Tw Cen MT,Tw Cen MT;
}

.keyword-container {
    display: flex;
    font-family: Tw Cen MT,Tw Cen MT,Tw Cen MT;
    flex-direction: row;
    padding: 16px;
    justify-content: center;
}

.keyword {
    background-color: #f4aa42; /* Orange */
    border: none;
    color: white;
    padding: 16px 36px;
    text-align: center;
    text-decoration: none;
    border-radius: 8px;
    margin: 5px;
    font-family: Tw Cen MT,Tw Cen MT,Tw Cen MT;
}

.keyword:hover {
    background: #f7b75d;
}



body {
  align-items: center;
  text-align: center;
  background: linear-gradient(to top, #86377b 20%, #27273c 80%);
}

p {
  align-items: center;
  text-align: center;

  font-size: 120%;
}

ul {
  padding: 10px;
  margin: 2px;
  list-style: square outside;
  font-size: 120%;
  text-align: center;
}

li {
  padding-left: 16px;
  list-style-type: none;
  font-size: 100%;
  text-align: center;
}
