.header {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  align-items: center;
  background-color: lightblue;
}

.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 24px;
}

.file {
  text-align: center;
  margin: 0 auto;
}


.button {
  background-color: #0ad889; /* Green */
  border: none;
  width: 32vw;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 8px;
}
.button:hover {
  background: #42f498;

}
