<html>
  <head>
    <link rel="stylesheet" type="text/css" href="../static/index.css" />
    <title>Listen | Home</title>
  </head>
  <body>
      <div class="intro">
          <h1 style="font-family:Tw Cen MT,Tw Cen MT,Tw Cen MT;font-size:98px;">
              Listen
          </h1>
      </div>
    <div class="info-container">
    <div class="heading">
      Welcome to <b>Listen</b>.
    </div>
    <br />
    <div class="subheading">
      <center> Quickly and Accurately Navigate through Audio Using Google's Powerful APIs.
          
    </div>
    <br />

    <div class="form-parent">
      <form
        class="form"
        action="upload"
        method="POST"
        enctype="multipart/form-data"
      >
        Upload Audio: <br />
        <br />
        <input class="file" type="file" name="file" /><br />
        <input class="button" type="submit" name="submit" value="Submit" />
      </form>
    </div>
  </body>

  <!-- <div class="background">
    <div class="waveWrapper waveAnimation">
      <div class="waveWrapperInner bgTop">
        <div
          class="wave waveTop"
          style="background-image: url('http://front-end-noobs.com/jecko/img/wave-top.png')"
        ></div>
      </div>
      <div class="waveWrapperInner bgMiddle">
        <div
          class="wave waveMiddle"
          style="background-image: url('http://front-end-noobs.com/jecko/img/wave-mid.png')"
        ></div>
      </div>
      <div class="waveWrapperInner bgBottom">
        <div
          class="wave waveBottom"
          style="background-image: url('http://front-end-noobs.com/jecko/img/wave-bot.png')"
        ></div>
      </div>
    </div>
  </div> -->
</html>
