h1 {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 10vh;
  align-items: center;
  background-color: lightblue;
}

body {
  align-items: center;
  text-align: center;
  background-color: lightblue
}

p {
  align-items: center;
  text-align: center;
  background-color: lightblue;
  font-size: 120%;
}

ul {
  padding: 10px;
  margin: 2px;
  list-style: square outside;
  font-size: 120%;
  text-align: center;
}

li {
  padding-left: 16px;
  list-style-type: none;
  font-size: 100%;
  text-align: center;
}
