

<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="user-scalable=no" />
    <link rel="stylesheet" type="text/css" href="../static/output.css">
    <title>Listen | Keywords</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/wavesurfer.js/1.0.52/wavesurfer.min.js"></script>
  </head>
  <body>
      <h1 style="font-family:Tw Cen MT,Tw Cen MT,Tw Cen MT;font-size:72px; margin-top:36px;">
          
          <b>Listen to What Matters</b>
          </h1>
    <br />
    <br />
    <div class="audio-container">
    <audio id="aud" controls><source src="{{audio_url}}" /></audio>
    </div>
    <br />
    <br />
    <form action="find" method="POST">
      <input type="text" name="keyword_input" id="keyword_input" />
      <input type="submit" value="Find" />
    </form>
    {% if timestamps %}
    <p> Found keyword!</p>
    <button onclick="moveBackward('{{keyword}}', {{timestamps}})">
      Backward
    </button>
    <button onclick="moveForward('{{keyword}}', {{timestamps}})">
      Forward
    </button>

    {% endif %}

<h1 style="font-family:Tw Cen MT,Tw Cen MT,Tw Cen MT;">
    Suggested Keywords</h1>
    <div class="keyword-container">

    {% for keyword in keywords %}
      <div class="keyword" onclick="updateSearchField('{{ keyword }}')"> {{ keyword }} </div>
    {% endfor %}
    </div>

    <script>
      var audio = document.getElementById("aud");
      var keyword = "";
      var count = 0;
      function moveForward(keyword, timestamps) {
        if (this.keyword == "") {
          this.keyword = keyword;
        } else if (this.keyword != keyword) {
          count = 0;
          this.keyword = keyword;
        }

        audio.currentTime = timestamps[count] - 0.3;

        count += 1;
        if (count == timestamps.length) {
          count = 0;
        }
      }

      function moveBackward(keyword, timestamps) {
        if (this.keyword == "") {
          this.keyword = keyword;
        } else if (this.keyword != keyword) {
          count = 0;
          this.keyword = keyword;
        }

        audio.currentTime = timestamps[count] - 0.3;
        count -= 1;
        if (count == -1) {
          count = timestamps.length - 1;
        }
      }

      function updateSearchField(keyword) {
        var input_field = document.getElementById("keyword_input");
        input_field.value=keyword;
      }
    </script>
  </body>
</html>
