@import '../../typography';

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: $font-header;
  font-size: 36px;
  height: 20vh;
  min-height: 36px;
  background-color: teal;
  color: white;
}
